[submodule "secrets"]
	path = secrets
	url = git@github.com:carlosrodlop/carlosrodlop-secrets.git
[submodule "conf"]
	path = conf
	url = git@github.com:carlosrodlop/carlosrodlop-conf.git
[submodule "docs"]
	path = docs
	url = git@github.com:carlosrodlop/docs.git
