[submodule "secrets"]
	path = secrets
	url = git@github.com:carlosrodlop/carlosrodlop-secrets.git
[submodule "docs"]
	path = docs
	url = git@github.com:carlosrodlop/carlosrodlop-docs.git
[submodule "src"]
	path = src
	url = git@github.com:carlosrodlop/carlosrodlop-src.git
